<div class="modal-header">
<h3>{{title}}</h3>
</div>
<div class="modal-content">
<ul *ngIf="formSubmitted">
  <li *ngIf="myForm?.get('name')?.errors?.['required']">Name is required</li>
  <li *ngIf="myForm?.get('name')?.errors?.['minlength']">Name is too short</li>
</ul>
<form [formGroup]="myForm">
  <div>
    <label for="the-name">Name:</label>
    <input type="text" name="" id="the-name" formControlName="name" >
  </div>
  <div>
    <label for="the-email">Email:</label>
    <input type="text" name="" id="the-email" formControlName="email">
  </div>
  <div>
    <label for="the-age">Age:</label>
    <input type="number" name="" id="the-age" formControlName="age">
  </div>
  <fieldset formGroupName="address">
    <legend>Adresse</legend>
    <div>
      <label for="the-address-name">Address Name:</label>
      <input type="text" id="the-address-name" formControlName="name" >
    </div>
    <div>
      <label for="the-address-streetname">Street Name:</label>
      <input type="text" id="the-address-streetname" formControlName="streetname" >
    </div>
  </fieldset>
  <fieldset formArrayName="musicstyles">
    <legend>Music style</legend>
    <div *ngFor="let fc of getMusicStylesControl().controls; let i=index">
      <label for="the-address-name">Style {{i+1}}:</label>
      <input type="text" [formControlName]="i" id="the-address-name" formControlName="name"> <span (click)="removeStyle(i)">[x]</span>
    </div>
    <button [class.machintruc]="false" (click)="addStyle()">Add style</button>
  </fieldset>
</form>
</div>
<div class="modal-footer">
  <button (click)="submit()" >Add</button>
  <button (click)="cancel()" >Cancel</button>
</div>
