
<ul *ngIf="formSubmitted">
  <li *ngIf="theForm?.get('name')?.errors?.['minlength']">Name is too short</li>
  <li *ngIf="theForm?.get('name')?.errors?.['maxlength']">Name is too long</li>
  <li *ngIf="theForm?.get('name')?.errors?.['required']">Name is required</li>
  <li *ngIf="theForm?.get('price')?.errors?.['min']">Price have to be greater than 10</li>

</ul>
<form [formGroup]="theForm" (ngSubmit)="addProduct()">
  <div>
    <label for="theName">Name</label>
    <input type="text" id="theName" formControlName="name">
  </div>
  <div>
    <label for="theCategory">Category</label>
    <input type="text" id="theCategory" formControlName="category">
  </div>
  <div>
    <label for="theDescription">Description</label>
    <textarea id="theDescription" formControlName="description"></textarea>
  </div>
  <div>
    <label for="thePrice">Price</label>
    <input type="text" id="thePrice" formControlName="price">
  </div>
  <div>
    <label for="thePromo">Promo</label>
    <input type="text" id="thePromo" formControlName="promo">
  </div>
  <div>
    <label for="theActive">Active</label>
    <input type="checkbox" id="theActive" formControlName="active">
  </div>
  <button>OK</button>
</form>
<pre>
{{theForm.value | json}}
</pre>
