<h1>Coucou</h1>
<app-menu></app-menu>
<router-outlet></router-outlet>
-----------------
<p [style.color]="textcolor" [style.background-color]="bgcolor" *ngIf="displayStatus">Bonjour {{person.firstname}} {{person.lastname}}, vous avez {{person.age}} ans,
  vous êtes {{employed === true ? 'employé' : 'non employé' }}</p>
<p>{{person.address.city}}</p>
<input type="text" name="" id="" [(ngModel)]="person.firstname">
<button (click)="makeMeYoungPlease()" *ngIf="person.age > 0">Make me younger</button>

{{user.name}}
