<h3>Add User</h3>
<ul *ngIf="formSubmitted">
  <li *ngIf="myForm?.get('name')?.errors?.['required']">Name is required</li>
  <li *ngIf="myForm?.get('name')?.errors?.['minlength']">Name is too short</li>
</ul>
<form [formGroup]="myForm" (ngSubmit)="submit()">
  <div>
    <label for="the-name">Name:</label>
    <input type="text" name="" id="the-name" formControlName="name" >
  </div>
  <div>
    <label for="the-email">Email:</label>
    <input type="text" name="" id="the-email" formControlName="email">
  </div>
  <div>
    <label for="the-age">Age:</label>
    <input type="number" name="" id="the-age" formControlName="age">
  </div>
  <fieldset formGroupName="address">
    <legend>Adresse</legend>
    <div>
      <label for="the-address-name">Address Name:</label>
      <input type="text" id="the-address-name" formControlName="name" >
    </div>
    <div>
      <label for="the-address-streetname">Street Name:</label>
      <input type="text" id="the-address-streetname" formControlName="streetname" >
    </div>
  </fieldset>
  <button>Add</button>
  <pre>
    {{myForm.value | json}}
    {{myForm.valid | json}}
  </pre>
</form>
